header {
    background-color: #424E61;
    color: white;
}
.cabecalho-imagem{
    width: 20%;
}
.cabecaho{
 background-color: #424E61;
color: white;
display: flex;
justify-content: space-around;
align-items:center;
padding: 24px 0;
}

.escola-imagem{
    width: 25%;
}
.escola{
    background-image: linear-gradient(#424E61,#4EBFE9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.escola-div-conteudo{width: 35%;}

.escola-titulo{
    padding: 24px 0;
}